 /*Variables*/
 $fancy-font: 'Grand Hotel', cursive;
 $normal-font: 'Solway', serif;
 
 /*Color*/
 $martini: #808225;
 $forest: #32473C;
 $creamsicle: #FDA478;
 $light-pink: #F0587C;
 $dark-pink: #DF3D56;
 $linen: #E8E8DF;
